<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Test DAOs -->
  <bean id="orderDaoStub" class="com.mthree.flooringmastery.dao.OrderDaoStubImpl"/>
  <bean id="productDaoStub" class="com.mthree.flooringmastery.dao.ProductDaoStubImpl"/>
  <bean id="taxDaoStub" class="com.mthree.flooringmastery.dao.TaxDaoStubImpl"/>

  <!-- Test Service Layer -->
  <bean id="serviceLayer" class="com.mthree.flooringmastery.service.FlooringMasteryServiceImpl">
    <constructor-arg ref="orderDaoStub"/>
    <constructor-arg ref="taxDaoStub"/>
    <constructor-arg ref="productDaoStub"/>
  </bean>

</beans>
